body{
    margin: 0;
    
}

h1{
    width: 20%;
    margin: 10px auto 0 auto;
}

.top-container{
    margin: auto;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
    background-color: darkcyan;
   
    
}
.navigationbar{
    text-align: right;
    background-color: royalblue;
    color: white;
    padding: 15px;
}

.navigationbar a {
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    
}

.navigationbar a.havor{
    background-color: royalblue;
    color: teal;
}

/* .navigationbar{
    background-color: #333;
    overflow: hidden;
    
}

.navigationbar a.active {
    background-color: #04AA6D;
    color: white;
  }

.navigationbar a {
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 17px;
    text-align: left;
    text-decoration: none;
}

.navigationbar a.havor{
    background-color: #ddd;
    color: purple;
}

.navigationbar .icon {
    display: none;
  }

@media screen and (max-width: 600px) {
    .navigationbar a:not(:first-child) {display: none;}
    .navigationbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navigationbar.responsive {position: relative;}
    .navigationbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navigationbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

} */